body{
	font-family: 'Raleway', sans-serif;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

*::selection {
	background-color: aqua;
}
h1{
	text-align: center;
	font-size: 32px;
}

h2{
	background-color: #26ebeb;	
}

h3{
	background-color: #b2ffff;	
}

figure{
	float:left;
	margin: 4px 4px 2px 0px;
}

figurecaption{
	text-align: center;
}

table{
	border-collapse: collapse;
	border: 1px solid #000;
	margin: auto;
}

th,td{
	border: 1px solid #000;
}

th{
	background-color: deepskyblue;
}

.content{
	background-color: azure;
	border: 1px solid #384564;
	width: 500px;
}

a{
	text-decoration: none;
	color: #000;
}

.title{
	text-decoration: none;
	font-size: 20px;
	color: #101076;
}

.colons{
	font-weight: 600;
}

#history